@model GnuPlusLinux.Models.Home.InformationViewModel

@{
    ViewData["Title"] = Model.title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/Information.css" />
<div id="info">
    <!-- Tab links -->
    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'Welcome')" id="defaultOpen">Welcome</button>
        <button class="tablinks" onclick="openCity(event, 'Charter')">Charter</button>
        <button class="tablinks" onclick="openCity(event, 'Rules')">Rules</button>
        <button class="tablinks" onclick="openCity(event, 'Loot')">Loot Distribution</button>
        <button class="tablinks" onclick="openCity(event, 'Addons')">Addons</button>
        <button class="tablinks" onclick="openCity(event, 'Recruitment')">Recruitment</button>
    </div>
    <!-- Tab content -->
    <div id="Welcome" class="tabcontent">
        <h3>Welcome!</h3>
        <p>
            @Model.welcome
        </p>
    </div>

    <div id="Charter" class="tabcontent">
        <h3>Charter</h3>
        <p>
            @Model.charter
        </p>
    </div>

    <div id="Rules" class="tabcontent">
        <h3>Rules</h3>
        <p>
            @Model.rules
        </p>
    </div>

    <div id="Loot" class="tabcontent">
        <h3>Loot Distribution</h3>
        <p>
            @Model.loot
        </p>
    </div>

    <div id="Addons" class="tabcontent">
        <h3>Required Addons</h3>
        <p>
            @Model.addons
        </p>
    </div>

    <div id="Recruitment" class="tabcontent">
        <h3>Recruitment</h3>
        <p>
            @Model.recruitment
        </p>
    </div>
</div>

<script>
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>